*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --background : #1f2937;
    --primary-text: #f9faf8;
    --secondary-text: #e5e7eb;
    --button-color: #3882f6;
    --info-header: #1f2937;
    --quote-bg: #e5e7eb;
}
html{
    font-size: 62.5%;
    /* 1rem = 10px */
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style-type: none;
}
img{
    display: inline-block;
    width: 100%;

}
li{
    list-style: none;

}
h1,h2,h3{
    color: var(--primary-text); 
}
.section{
    padding: 9.6rem 0;
}
.container{
    max-width: 130rem;
    margin: 0 auto; 
    /* it will center the container */
    padding: 0 3.2rem;
}


                    /* NAVBAR STYLING STARTS  */


.header{
    height: 7.6rem;
    font-size: 1.5rem;
    background: var(--background);
    display:flex ;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-text);
}
.navlink{
    color: var(--secondary-text);
    transition: 0.3s all linear;
}
.navlist{
    display: flex;
    gap: 2rem;
    font-weight: 500;
}

.navlink:hover{
    color: var(--button-color);

}
.logo::selection{
    color: var(--button-color);
    background: var(--primary-text);
}
.navbar .navlink::selection{
    color: var(--button-color);
    background: var(--primary-text);
}


                    /* HOME STYLING STARTS */
.home{
    background: var(--background);
    position: relative;
}
.home-btn{
    font-size: 2rem;
    background: var(--button-color);
    border-radius: 1.9rem;
    font-weight: bold;
    padding: 1rem;
    color: var(--primary-text);
    padding: 1rem;
    transition: 0.3s all linear;
    /* margin: 0 0 1rem 0; */
    
}
.home-btn:hover{
    background: var(--primary-text);
    color: var(--button-color);
}
.primary-heading{
    font-size: 4.8rem;
    color: var(--primary-text);
    padding: 1rem 0;
}
.para{
    font-size: 1.8rem;
    color: var(--secondary-text);
    padding: 1rem 0 2rem 0;
}
.hero-img{
    width: 20rem;
    height: 20rem;
    position: absolute;
    right: 15rem;
}
.grid{
    display: grid;
    gap: 9.6rem;
    
}
.grid-two-col{
    grid-template-columns: repeat(2,1fr);
}
.primary-heading::selection{
    color: var(--button-color);
    background: var(--primary-text);
}
.para::selection{
    color: var(--button-color);
    background: var(--primary-text);
}
.home-btn::selection{
    color: var(--button-color);
    background: var(--primary-text);
}
.hero-img::selection{
    color: var(--button-color);
    background: var(--primary-text);
}

            /* SOME RANDOM INFORMATION PART STARTS */
.sm-ran{
    font-size: 3.5rem;
    color: var(--background);
    text-align: center;
}
.about{
    background: var(--primary-text);
}
.box{
    color: var(--secondary-text);
    border: 2px var(--button-color) solid ;
    border-radius: 2rem;
    width: 15rem;
    height: 15rem;
}
.para1{
    font-size: 1.8rem;
    color: var(--background);
    padding: 1rem 0 2rem 0;
}
.box-flex{
    display: flex;
    gap: 1rem;
    margin: 2rem 0 0 0;
}
.boxes{
    margin-top: 2rem;
}

                /* QUOTE SECTION STARTS HERE  */

.quote{
    background: var(--quote-bg);
}
.ab-head{
    color: var(--background);
    font-size: 3.6rem;
    font-style: italic;
    text-align: center;
    margin: auto auto;
   
    
}
.para2{
    font-size: 2rem;
    font-weight: bold;
    text-align: end;
    margin-top: 1rem;
    
}

                  /* BLUE BG TEXT STARTS HERE */
.contain-blue{
    background: var(--button-color);
    padding: 4rem;
    border-radius: 2rem;
    display: flex;
    gap: 12rem;
    align-items: center;
}
.blue-bg .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-head{
    color: var(--primary-text);
    font-size: 2.5rem;
    margin-bottom: 0.3rem;
}
.para4{
    color: var(--primary-text);
    font-size: 1.6rem;
}
.button-blue{
    border: 1px var(--primary-text) solid;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
    color: var(--primary-text);
    
}
/* .button-blue a{
    text-decoration: ;
} */

.footer{
    height: 6.5rem;
    background: var(--background);
}

.head4{
    text-align: center;
padding-top: 3rem;
}